* {
    margin: 0;
    box-sizing: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 80%;
    margin: 0, auto;
}

main {
    padding-top: 2rem;
}

h1,
h2 {
    color: fuchsia;
}

h1 {
    font-size: 2.5rem;
}

.col {
    float: left;
    width: calc(100% / 3);
    /* debug */
    border: 1px solid white;
    height: 100px;
}